## Create flat database of Bureau using Pandas pivot_table function

In [74]:
# Load package and set option to display all columns
import pandas as pd
pd.options.display.max_columns = 100

In [75]:
# Import data
df = pd.read_csv('bureau.csv')

In [76]:
#Check the columns
df.columns

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY'],
      dtype='object')

The pivot_table function of pandas will be used. Check the [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html) for more info.

In [77]:
# Specify the feature used as index
# This feature will be used as the index of the new table
index = 'SK_ID_CURR'

In [78]:
# Specify the column to pivot on
columns = 'CREDIT_ACTIVE'

In [79]:
#Create a features list to be aggregated
values=['DAYS_CREDIT','CREDIT_DAY_OVERDUE','DAYS_CREDIT_ENDDATE','AMT_CREDIT_MAX_OVERDUE',
        'AMT_CREDIT_SUM','AMT_CREDIT_SUM_DEBT','AMT_CREDIT_SUM_LIMIT','AMT_CREDIT_SUM_OVERDUE','AMT_ANNUITY']

In [80]:
#Create a dictionary for the required aggregation for each feature
aggfunc = {'DAYS_CREDIT' : [ 'min' ,  'max' ,   'mean' ],
'DAYS_CREDIT_ENDDATE' : [ 'min' ,  'max' ,   'mean' ],
'CREDIT_DAY_OVERDUE' : [ 'max' ,   'mean' ],
'AMT_CREDIT_MAX_OVERDUE' : [ 'mean' ],
'AMT_CREDIT_SUM' : [ 'mean' ,  'sum' ],
'AMT_CREDIT_SUM_DEBT' : [  'mean' ,  'sum' ],
'AMT_CREDIT_SUM_OVERDUE' : [  'mean', 'sum'],
'AMT_CREDIT_SUM_LIMIT' : [  'mean' ,  'sum' ],
'AMT_ANNUITY' : [ 'mean', 'sum' ]}

In [81]:
#Use panda's pivot_table function
df_flat = df.pivot_table(index=index,columns=columns,values=values,aggfunc=aggfunc)

In [82]:
#Inspect the flattened database
df_flat.head()

              AMT_ANNUITY                                                     \
                     mean                           sum
CREDIT_ACTIVE      Active Bad debt Closed Sold   Active Bad debt Closed Sold
SK_ID_CURR
100001            8272.50      NaN    0.0  NaN  24817.5      NaN    0.0  NaN
100002               0.00      NaN    0.0  NaN      0.0      NaN    0.0  NaN
100003                NaN      NaN    NaN  NaN      NaN      NaN    NaN  NaN
100004                NaN      NaN    NaN  NaN      NaN      NaN    NaN  NaN
100005            2130.75      NaN    0.0  NaN   4261.5      NaN    0.0  NaN

              AMT_CREDIT_MAX_OVERDUE                           AMT_CREDIT_SUM  \
                                mean                                     mean
CREDIT_ACTIVE                 Active Bad debt      Closed Sold         Active
SK_ID_CURR
100001                           NaN      NaN         NaN  NaN    294675.0000
100002                          40.5      NaN  2091.16125  NaN    240994.2825
100003                           0.0      NaN     0.00000  NaN    810000.0000
100004                           NaN      NaN     0.00000  NaN            NaN
100005                           0.0      NaN         NaN  NaN    299313.0000

                                                                           \
                                              sum
CREDIT_ACTIVE Bad debt    Closed Sold      Active Bad debt    Closed Sold
SK_ID_CURR
100001             NaN  142335.0  NaN  884025.000      NaN  569340.0  NaN
100002             NaN   63844.5  NaN  481988.565      NaN  383067.0  NaN
100003             NaN   69133.5  NaN  810000.000      NaN  207400.5  NaN
100004             NaN   94518.9  NaN         NaN      NaN  189037.8  NaN
100005             NaN   58500.0  NaN  598626.000      NaN   58500.0  NaN

              AMT_CREDIT_SUM_DEBT                                          \
                             mean                            sum
CREDIT_ACTIVE              Active Bad debt Closed Sold    Active Bad debt
SK_ID_CURR
100001                  198895.50      NaN    0.0  NaN  596686.5      NaN
100002                  122890.50      NaN    0.0  NaN  245781.0      NaN
100003                       0.00      NaN    0.0  NaN       0.0      NaN
100004                        NaN      NaN    0.0  NaN       NaN      NaN
100005                  284204.25      NaN    0.0  NaN  568408.5      NaN

                          AMT_CREDIT_SUM_LIMIT                       \
                                          mean
CREDIT_ACTIVE Closed Sold               Active Bad debt Closed Sold
SK_ID_CURR
100001           0.0  NaN               0.0000      NaN    0.0  NaN
100002           0.0  NaN           15994.2825      NaN    0.0  NaN
100003           0.0  NaN          810000.0000      NaN    0.0  NaN
100004           0.0  NaN                  NaN      NaN    0.0  NaN
100005           0.0  NaN               0.0000      NaN    0.0  NaN

                                               AMT_CREDIT_SUM_OVERDUE  \
                      sum                                        mean
CREDIT_ACTIVE      Active Bad debt Closed Sold                 Active
SK_ID_CURR
100001              0.000      NaN    0.0  NaN                    0.0
100002          31988.565      NaN    0.0  NaN                    0.0
100003         810000.000      NaN    0.0  NaN                    0.0
100004                NaN      NaN    0.0  NaN                    NaN
100005              0.000      NaN    0.0  NaN                    0.0

                                                                \
                                      sum
CREDIT_ACTIVE Bad debt Closed Sold Active Bad debt Closed Sold
SK_ID_CURR
100001             NaN    0.0  NaN    0.0      NaN    0.0  NaN
100002             NaN    0.0  NaN    0.0      NaN    0.0  NaN
100003             NaN    0.0  NaN    0.0      NaN    0.0  NaN
100004             NaN    0.0  NaN    NaN      NaN    0.0  NaN
100005             NaN    0.0  NaN    0.0      NaN    0.0  NaN

              CREDIT_DAY_OVERDUE                                              \
                             max                        mean
CREDIT_ACTIVE             Active Bad debt Closed Sold Active Bad debt Closed
SK_ID_CURR
100001                       0.0      NaN    0.0  NaN    0.0      NaN    0.0
100002                       0.0      NaN    0.0  NaN    0.0      NaN    0.0
100003                       0.0      NaN    0.0  NaN    0.0      NaN    0.0
100004                       NaN      NaN    0.0  NaN    NaN      NaN    0.0
100005                       0.0      NaN    0.0  NaN    0.0      NaN    0.0

                   DAYS_CREDIT                                            \
                           max                             mean
CREDIT_ACTIVE Sold      Active Bad debt Closed Sold      Active Bad debt
SK_ID_CURR
100001         NaN       -49.0      NaN -857.0  NaN -309.333333      NaN
100002         NaN      -103.0      NaN -476.0  NaN -572.500000      NaN
100003         NaN      -606.0      NaN -775.0  NaN -606.000000      NaN
100004         NaN         NaN      NaN -408.0  NaN         NaN      NaN
100005         NaN       -62.0      NaN -373.0  NaN  -99.500000      NaN

                                                               \
                                    min
CREDIT_ACTIVE       Closed Sold  Active Bad debt  Closed Sold
SK_ID_CURR
100001        -1054.250000  NaN  -559.0      NaN -1572.0  NaN
100002         -974.500000  NaN -1042.0      NaN -1437.0  NaN
100003        -1665.666667  NaN  -606.0      NaN -2586.0  NaN
100004         -867.000000  NaN     NaN      NaN -1326.0  NaN
100005         -373.000000  NaN  -137.0      NaN  -373.0  NaN

              DAYS_CREDIT_ENDDATE                                             \
                              max                              mean
CREDIT_ACTIVE              Active Bad debt Closed Sold       Active Bad debt
SK_ID_CURR
100001                     1778.0      NaN -179.0  NaN  1030.333333      NaN
100002                      780.0      NaN   85.0  NaN   780.000000      NaN
100003                     1216.0      NaN -420.0  NaN  1216.000000      NaN
100004                        NaN      NaN -382.0  NaN          NaN      NaN
100005                     1324.0      NaN -128.0  NaN   723.000000      NaN


                                    min
CREDIT_ACTIVE       Closed Sold  Active Bad debt  Closed Sold
SK_ID_CURR
100001         -628.500000  NaN   411.0      NaN -1329.0  NaN
100002         -574.800000  NaN   780.0      NaN -1072.0  NaN
100003        -1131.333333  NaN  1216.0      NaN -2434.0  NaN
100004         -488.500000  NaN     NaN      NaN  -595.0  NaN
100005         -128.000000  NaN   122.0      NaN  -128.0  NaN

In [83]:
#Inspect the columns 
df_flat.columns

MultiIndex(levels=[['AMT_ANNUITY', 'AMT_CREDIT_MAX_OVERDUE', 'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT', 'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT', 'DAYS_CREDIT_ENDDATE'], ['max', 'mean', 'min', 'sum'], ['Active', 'Bad debt', 'Closed', 'Sold']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8], [1, 1, 1, 1, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 1, 1, 1, 1, 3, 3, 3, 3, 1, 1, 1, 1, 3, 3, 3, 3, 1, 1, 1, 1, 3, 3, 3, 3, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 0, 0, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2], [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]],
           names=[None, None, 'CREDIT_ACTIVE'])

In [84]:
#Inspect the columns 
list(df_flat.columns[0:6])

[('AMT_ANNUITY', 'mean', 'Active'),
 ('AMT_ANNUITY', 'mean', 'Bad debt'),
 ('AMT_ANNUITY', 'mean', 'Closed'),
 ('AMT_ANNUITY', 'mean', 'Sold'),
 ('AMT_ANNUITY', 'sum', 'Active'),
 ('AMT_ANNUITY', 'sum', 'Bad debt')]

The column labels are hierarchial with 3 levels.  
It may be better to remove the hierarchy.

In [85]:
#Create column names by concatenating the labels of the three levels
col_names = ['_'.join(df_flat.columns[i][::-1]).upper() for i in range(0,len(df_flat.columns))]

In [86]:
#Inspect the first 10  created column names 
col_names[0:10]

['ACTIVE_MEAN_AMT_ANNUITY',
 'BAD DEBT_MEAN_AMT_ANNUITY',
 'CLOSED_MEAN_AMT_ANNUITY',
 'SOLD_MEAN_AMT_ANNUITY',
 'ACTIVE_SUM_AMT_ANNUITY',
 'BAD DEBT_SUM_AMT_ANNUITY',
 'CLOSED_SUM_AMT_ANNUITY',
 'SOLD_SUM_AMT_ANNUITY',
 'ACTIVE_MEAN_AMT_CREDIT_MAX_OVERDUE',
 'BAD DEBT_MEAN_AMT_CREDIT_MAX_OVERDUE']

In [87]:
# Rename the columns
df_flat.columns=col_names

In [88]:
# Inspect the flat database with updated column names
df_flat.head()

,ACTIVE_MEAN_AMT_ANNUITY,BAD DEBT_MEAN_AMT_ANNUITY,CLOSED_MEAN_AMT_ANNUITY,SOLD_MEAN_AMT_ANNUITY,ACTIVE_SUM_AMT_ANNUITY,BAD DEBT_SUM_AMT_ANNUITY,CLOSED_SUM_AMT_ANNUITY,SOLD_SUM_AMT_ANNUITY,ACTIVE_MEAN_AMT_CREDIT_MAX_OVERDUE,BAD DEBT_MEAN_AMT_CREDIT_MAX_OVERDUE,CLOSED_MEAN_AMT_CREDIT_MAX_OVERDUE,SOLD_MEAN_AMT_CREDIT_MAX_OVERDUE,ACTIVE_MEAN_AMT_CREDIT_SUM,BAD DEBT_MEAN_AMT_CREDIT_SUM,CLOSED_MEAN_AMT_CREDIT_SUM,SOLD_MEAN_AMT_CREDIT_SUM,ACTIVE_SUM_AMT_CREDIT_SUM,BAD DEBT_SUM_AMT_CREDIT_SUM,CLOSED_SUM_AMT_CREDIT_SUM,SOLD_SUM_AMT_CREDIT_SUM,ACTIVE_MEAN_AMT_CREDIT_SUM_DEBT,BAD DEBT_MEAN_AMT_CREDIT_SUM_DEBT,CLOSED_MEAN_AMT_CREDIT_SUM_DEBT,SOLD_MEAN_AMT_CREDIT_SUM_DEBT,ACTIVE_SUM_AMT_CREDIT_SUM_DEBT,BAD DEBT_SUM_AMT_CREDIT_SUM_DEBT,CLOSED_SUM_AMT_CREDIT_SUM_DEBT,SOLD_SUM_AMT_CREDIT_SUM_DEBT,ACTIVE_MEAN_AMT_CREDIT_SUM_LIMIT,BAD DEBT_MEAN_AMT_CREDIT_SUM_LIMIT,CLOSED_MEAN_AMT_CREDIT_SUM_LIMIT,SOLD_MEAN_AMT_CREDIT_SUM_LIMIT,ACTIVE_SUM_AMT_CREDIT_SUM_LIMIT,BAD DEBT_SUM_AMT_CREDIT_SUM_LIMIT,CLOSED_SUM_AMT_CREDIT_SUM_LIMIT,SOLD_SUM_AMT_CREDIT_SUM_LIMIT,ACTIVE_MEAN_AMT_CREDIT_SUM_OVERDUE,BAD DEBT_MEAN_AMT_CREDIT_SUM_OVERDUE,CLOSED_MEAN_AMT_CREDIT_SUM_OVERDUE,SOLD_MEAN_AMT_CREDIT_SUM_OVERDUE,ACTIVE_SUM_AMT_CREDIT_SUM_OVERDUE,BAD DEBT_SUM_AMT_CREDIT_SUM_OVERDUE,CLOSED_SUM_AMT_CREDIT_SUM_OVERDUE,SOLD_SUM_AMT_CREDIT_SUM_OVERDUE,ACTIVE_MAX_CREDIT_DAY_OVERDUE,BAD DEBT_MAX_CREDIT_DAY_OVERDUE,CLOSED_MAX_CREDIT_DAY_OVERDUE,SOLD_MAX_CREDIT_DAY_OVERDUE,ACTIVE_MEAN_CREDIT_DAY_OVERDUE,BAD DEBT_MEAN_CREDIT_DAY_OVERDUE,CLOSED_MEAN_CREDIT_DAY_OVERDUE,SOLD_MEAN_CREDIT_DAY_OVERDUE,ACTIVE_MAX_DAYS_CREDIT,BAD DEBT_MAX_DAYS_CREDIT,CLOSED_MAX_DAYS_CREDIT,SOLD_MAX_DAYS_CREDIT,ACTIVE_MEAN_DAYS_CREDIT,BAD DEBT_MEAN_DAYS_CREDIT,CLOSED_MEAN_DAYS_CREDIT,SOLD_MEAN_DAYS_CREDIT,ACTIVE_MIN_DAYS_CREDIT,BAD DEBT_MIN_DAYS_CREDIT,CLOSED_MIN_DAYS_CREDIT,SOLD_MIN_DAYS_CREDIT,ACTIVE_MAX_DAYS_CREDIT_ENDDATE,BAD DEBT_MAX_DAYS_CREDIT_ENDDATE,CLOSED_MAX_DAYS_CREDIT_ENDDATE,SOLD_MAX_DAYS_CREDIT_ENDDATE,ACTIVE_MEAN_DAYS_CREDIT_ENDDATE,BAD DEBT_MEAN_DAYS_CREDIT_ENDDATE,CLOSED_MEAN_DAYS_CREDIT_ENDDATE,SOLD_MEAN_DAYS_CREDIT_ENDDATE,ACTIVE_MIN_DAYS_CREDIT_ENDDATE,BAD DEBT_MIN_DAYS_CREDIT_ENDDATE,CLOSED_MIN_DAYS_CREDIT_ENDDATE,SOLD_MIN_DAYS_CREDIT_ENDDATE
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100001,8272.50,NaN,0.0,NaN,24817.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,294675.0000,NaN,142335.0,NaN,884025.000,NaN,569340.0,NaN,198895.50,NaN,0.0,NaN,596686.5,NaN,0.0,NaN,0.0000,NaN,0.0,NaN,0.000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,-49.0,NaN,-857.0,NaN,-309.333333,NaN,-1054.250000,NaN,-559.0,NaN,-1572.0,NaN,1778.0,NaN,-179.0,NaN,1030.333333,NaN,-628.500000,NaN,411.0,NaN,-1329.0,NaN
100002,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,40.5,NaN,2091.16125,NaN,240994.2825,NaN,63844.5,NaN,481988.565,NaN,383067.0,NaN,122890.50,NaN,0.0,NaN,245781.0,NaN,0.0,NaN,15994.2825,NaN,0.0,NaN,31988.565,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,-103.0,NaN,-476.0,NaN,-572.500000,NaN,-974.500000,NaN,-1042.0,NaN,-1437.0,NaN,780.0,NaN,85.0,NaN,780.000000,NaN,-574.800000,NaN,780.0,NaN,-1072.0,NaN
100003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.00000,NaN,810000.0000,NaN,69133.5,NaN,810000.000,NaN,207400.5,NaN,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,810000.0000,NaN,0.0,NaN,810000.000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,-606.0,NaN,-775.0,NaN,-606.000000,NaN,-1665.666667,NaN,-606.0,NaN,-2586.0,NaN,1216.0,NaN,-420.0,NaN,1216.000000,NaN,-1131.333333,NaN,1216.0,NaN,-2434.0,NaN
100004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,94518.9,NaN,NaN,NaN,189037.8,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,-408.0,NaN,NaN,NaN,-867.000000,NaN,NaN,NaN,-1326.0,NaN,NaN,NaN,-382.0,NaN,NaN,NaN,-488.500000,NaN,NaN,NaN,-595.0,NaN
100005,2130.75,NaN,0.0,NaN,4261.5,NaN,0.0,NaN,0.0,NaN,NaN,NaN,299313.0000,NaN,58500.0,NaN,598626.000,NaN,58500.0,NaN,284204.25,NaN,0.0,NaN,568408.5,NaN,0.0,NaN,0.0000,NaN,0.0,NaN,0.000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,-62.0,NaN,-373.0,NaN,-99.500000,NaN,-373.000000,NaN,-137.0,NaN,-373.0,NaN,1324.0,NaN,-128.0,NaN,723.000000,NaN,-128.000000,NaN,122.0,NaN,-128.0,NaN

We can move the SK_ID_CURR variable from index to the data if desired.

In [89]:
# Create new column based on index (SK_ID_CURR)
df_flat.reset_index(inplace=True)

In [90]:
# Inspect the database
df_flat.head()

,SK_ID_CURR,ACTIVE_MEAN_AMT_ANNUITY,BAD DEBT_MEAN_AMT_ANNUITY,CLOSED_MEAN_AMT_ANNUITY,SOLD_MEAN_AMT_ANNUITY,ACTIVE_SUM_AMT_ANNUITY,BAD DEBT_SUM_AMT_ANNUITY,CLOSED_SUM_AMT_ANNUITY,SOLD_SUM_AMT_ANNUITY,ACTIVE_MEAN_AMT_CREDIT_MAX_OVERDUE,BAD DEBT_MEAN_AMT_CREDIT_MAX_OVERDUE,CLOSED_MEAN_AMT_CREDIT_MAX_OVERDUE,SOLD_MEAN_AMT_CREDIT_MAX_OVERDUE,ACTIVE_MEAN_AMT_CREDIT_SUM,BAD DEBT_MEAN_AMT_CREDIT_SUM,CLOSED_MEAN_AMT_CREDIT_SUM,SOLD_MEAN_AMT_CREDIT_SUM,ACTIVE_SUM_AMT_CREDIT_SUM,BAD DEBT_SUM_AMT_CREDIT_SUM,CLOSED_SUM_AMT_CREDIT_SUM,SOLD_SUM_AMT_CREDIT_SUM,ACTIVE_MEAN_AMT_CREDIT_SUM_DEBT,BAD DEBT_MEAN_AMT_CREDIT_SUM_DEBT,CLOSED_MEAN_AMT_CREDIT_SUM_DEBT,SOLD_MEAN_AMT_CREDIT_SUM_DEBT,ACTIVE_SUM_AMT_CREDIT_SUM_DEBT,BAD DEBT_SUM_AMT_CREDIT_SUM_DEBT,CLOSED_SUM_AMT_CREDIT_SUM_DEBT,SOLD_SUM_AMT_CREDIT_SUM_DEBT,ACTIVE_MEAN_AMT_CREDIT_SUM_LIMIT,BAD DEBT_MEAN_AMT_CREDIT_SUM_LIMIT,CLOSED_MEAN_AMT_CREDIT_SUM_LIMIT,SOLD_MEAN_AMT_CREDIT_SUM_LIMIT,ACTIVE_SUM_AMT_CREDIT_SUM_LIMIT,BAD DEBT_SUM_AMT_CREDIT_SUM_LIMIT,CLOSED_SUM_AMT_CREDIT_SUM_LIMIT,SOLD_SUM_AMT_CREDIT_SUM_LIMIT,ACTIVE_MEAN_AMT_CREDIT_SUM_OVERDUE,BAD DEBT_MEAN_AMT_CREDIT_SUM_OVERDUE,CLOSED_MEAN_AMT_CREDIT_SUM_OVERDUE,SOLD_MEAN_AMT_CREDIT_SUM_OVERDUE,ACTIVE_SUM_AMT_CREDIT_SUM_OVERDUE,BAD DEBT_SUM_AMT_CREDIT_SUM_OVERDUE,CLOSED_SUM_AMT_CREDIT_SUM_OVERDUE,SOLD_SUM_AMT_CREDIT_SUM_OVERDUE,ACTIVE_MAX_CREDIT_DAY_OVERDUE,BAD DEBT_MAX_CREDIT_DAY_OVERDUE,CLOSED_MAX_CREDIT_DAY_OVERDUE,SOLD_MAX_CREDIT_DAY_OVERDUE,ACTIVE_MEAN_CREDIT_DAY_OVERDUE,BAD DEBT_MEAN_CREDIT_DAY_OVERDUE,CLOSED_MEAN_CREDIT_DAY_OVERDUE,SOLD_MEAN_CREDIT_DAY_OVERDUE,ACTIVE_MAX_DAYS_CREDIT,BAD DEBT_MAX_DAYS_CREDIT,CLOSED_MAX_DAYS_CREDIT,SOLD_MAX_DAYS_CREDIT,ACTIVE_MEAN_DAYS_CREDIT,BAD DEBT_MEAN_DAYS_CREDIT,CLOSED_MEAN_DAYS_CREDIT,SOLD_MEAN_DAYS_CREDIT,ACTIVE_MIN_DAYS_CREDIT,BAD DEBT_MIN_DAYS_CREDIT,CLOSED_MIN_DAYS_CREDIT,SOLD_MIN_DAYS_CREDIT,ACTIVE_MAX_DAYS_CREDIT_ENDDATE,BAD DEBT_MAX_DAYS_CREDIT_ENDDATE,CLOSED_MAX_DAYS_CREDIT_ENDDATE,SOLD_MAX_DAYS_CREDIT_ENDDATE,ACTIVE_MEAN_DAYS_CREDIT_ENDDATE,BAD DEBT_MEAN_DAYS_CREDIT_ENDDATE,CLOSED_MEAN_DAYS_CREDIT_ENDDATE,SOLD_MEAN_DAYS_CREDIT_ENDDATE,ACTIVE_MIN_DAYS_CREDIT_ENDDATE,BAD DEBT_MIN_DAYS_CREDIT_ENDDATE,CLOSED_MIN_DAYS_CREDIT_ENDDATE,SOLD_MIN_DAYS_CREDIT_ENDDATE
0,100001,8272.50,NaN,0.0,NaN,24817.5,NaN,0.0,NaN,NaN,NaN,NaN,NaN,294675.0000,NaN,142335.0,NaN,884025.000,NaN,569340.0,NaN,198895.50,NaN,0.0,NaN,596686.5,NaN,0.0,NaN,0.0000,NaN,0.0,NaN,0.000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,-49.0,NaN,-857.0,NaN,-309.333333,NaN,-1054.250000,NaN,-559.0,NaN,-1572.0,NaN,1778.0,NaN,-179.0,NaN,1030.333333,NaN,-628.500000,NaN,411.0,NaN,-1329.0,NaN
1,100002,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,40.5,NaN,2091.16125,NaN,240994.2825,NaN,63844.5,NaN,481988.565,NaN,383067.0,NaN,122890.50,NaN,0.0,NaN,245781.0,NaN,0.0,NaN,15994.2825,NaN,0.0,NaN,31988.565,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,-103.0,NaN,-476.0,NaN,-572.500000,NaN,-974.500000,NaN,-1042.0,NaN,-1437.0,NaN,780.0,NaN,85.0,NaN,780.000000,NaN,-574.800000,NaN,780.0,NaN,-1072.0,NaN
2,100003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.00000,NaN,810000.0000,NaN,69133.5,NaN,810000.000,NaN,207400.5,NaN,0.00,NaN,0.0,NaN,0.0,NaN,0.0,NaN,810000.0000,NaN,0.0,NaN,810000.000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,-606.0,NaN,-775.0,NaN,-606.000000,NaN,-1665.666667,NaN,-606.0,NaN,-2586.0,NaN,1216.0,NaN,-420.0,NaN,1216.000000,NaN,-1131.333333,NaN,1216.0,NaN,-2434.0,NaN
3,100004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,NaN,NaN,NaN,94518.9,NaN,NaN,NaN,189037.8,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,-408.0,NaN,NaN,NaN,-867.000000,NaN,NaN,NaN,-1326.0,NaN,NaN,NaN,-382.0,NaN,NaN,NaN,-488.500000,NaN,NaN,NaN,-595.0,NaN
4,100005,2130.75,NaN,0.0,NaN,4261.5,NaN,0.0,NaN,0.0,NaN,NaN,NaN,299313.0000,NaN,58500.0,NaN,598626.000,NaN,58500.0,NaN,284204.25,NaN,0.0,NaN,568408.5,NaN,0.0,NaN,0.0000,NaN,0.0,NaN,0.000,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,-62.0,NaN,-373.0,NaN,-99.500000,NaN,-373.000000,NaN,-137.0,NaN,-373.0,NaN,1324.0,NaN,-128.0,NaN,723.000000,NaN,-128.000000,NaN,122.0,NaN,-128.0,NaN